body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  color: #212e3c;
  overflow-x: hidden;
  background: #7070ed; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7070ed, #8a51c2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7070ed, #8a51c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  margin: 0;
}

section {
  min-height: calc(100vh - 8em);
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  border: solid white 2px;
  background: linear-gradient(to right, #ece9e6, #ffffff);

  overflow: hidden;
  font-size: 1.5em;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

div.stout {
  max-width: 8em;
}

div.flex {
  display: flex;
}

div.flexseal {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.margin-center {
  margin: 0 auto;
}

div.show {
  margin: 1em;
  border: solid #1fbc7c 0.1875em;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: 0.25s all;
  cursor: pointer;
}

.center {
  text-align: center;
}

div.endorsed {
  background-color: #d4ffee;
}

div.show:hover {
  transform: rotate(2.5deg) scale(1.025);
}

div.show img {
  border-radius: 0.25em;
}

div.cute-as-a {
  /* background:white; */
  color:black;
  transition:0.4s;
  transform: perspective(1px) translateZ(0);
  text-align: center;
  padding:0.5em 30px;
  border: solid #7070ed 0.125em;
  color:black;
  border-radius: 0.5em;
  display: inline-block;
  overflow:hidden;
  transition: all 0.4s cubic-bezier(.86,.01,.15,.99);
  position: relative;
  cursor: pointer;
}
div.cute-as-a:hover {
  color:white;
  box-shadow: 0 0 0 0.5em rgba(250,250,250,0.1)
}
div.cute-as-a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  clip-path: circle(0.5% at 50% 50%);
  background:#7070ed;
  transition:0.4s;
  opacity:1;
}
div.cute-as-a:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.wrapped {
  position: relative;
  width: 100%;
}

.wrapped::before {
  content: '';
  position: absolute;
  left: calc(100% - 0.125em);
  top: calc(50% - 0.25em);
  width: 0.5em;
  height: 0.5em;
  border-radius: 0 50% 50% 0;
  background: #ccccff;
}

.wrapped::after {
  content: '';
  position: absolute;
  left: 0;
  top: -0.25em;
  width: 0.25em;
  height: calc(100% + 0.5em);
  border-radius: 0.25em;
  background: #ccccff;
}

.matt {
  color: #148c94;
}

.caitlin {
  color: #4747df;
}